@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@import "primeicons/primeicons.css";

:root {
  --text-default: #2f2f2f;
  --text-placeholder: #c0c0c0;
  --text-white: #4a6492;
  --white: #ffffff;
  --black: #000000;
  --font-clear: #6c757d;
  --no-bg-hover: #1976d204;
  --text-secondary: #6c757d;
  --text-label: #49454f;

  --papirus-purple: #8550cf;
  --papirus-yellow: #f4aa35;
  --papirus-grey: #c6c6c6;

  --link: #8550cf;
  --link-focus: #561ca8;
  --link-disabled: #e5d7f9;

  --button-medium: #f4aa35;
  --button-hover: #facd9a;
  --button-disabled: #fef5ea;
  --button-bg-disabled: #00000012;
  --button-text-disabled: #00000026;

  --papirus-purple-20: #8550cf20;
  --papirus-purple-50: #8550cf50;

  --black-20: #00000020;
  --black-42: #00000042;
  --black-54: #00000054;

  --error: #d91111;
  --success: #43a048;

  --transparent-background-color: #f1efeee9;
  --background-color: #f1efee;
  --background-white: #eeeeee;

  --table-header: #f6f8fa;
  --table-row: #e9e9e9;
  --table-border: #6e6e6e;

  --card-header: #f6f8fa;
  --card-border: #eeeeee;

  --border-color: #eee;

  --table-border-color: #6e6e6e;

  --switch-checked: #46a90a;

  --icon-grey-background: #d9d9d9;

  --guardianship-overdue: #800000;
  --guardianship-today: #ff0001;
  --guardianship-tomorrow: #fff55b;
  --guardianship-upcoming: #92d050;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-default);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overscroll-behavior: none;
}

@layer components {
  /* LAYOUT */
  .container__flex--top {
    @apply size-full flex flex-col flex-grow container justify-start max-w-6xl items-center;
  }
  .container__flex--center {
    @apply size-full flex flex-col flex-grow container justify-center max-w-6xl items-center;
  }

  /* BUTTONS */
  .papirus-text-button {
    @apply px-[1rem] h-10 uppercase bg-[--button-medium] text-[--white] border-none aria-disabled:bg-[--button-bg-disabled] aria-disabled:text-[--button-text-disabled]  disabled:bg-[--button-bg-disabled] disabled:text-[--button-text-disabled] rounded-full hover:shadow-md disabled:hover:shadow-none aria-disabled:hover:shadow-none text-sm flex items-center justify-center font-medium;
  }

  .papirus-icon-button {
    @apply bg-[--button-medium] text-[--white] border-none disabled:bg-[--button-bg-disabled] disabled:text-[--button-text-disabled] rounded-full hover:shadow-md disabled:hover:shadow-none flex items-center justify-center p-[6px] h-[28px] w-[28px] aria-disabled:bg-[--button-bg-disabled] aria-disabled:text-[--button-text-disabled] aria-disabled:hover:shadow-none;
  }

  .p-menuitem-text {
    @apply text-base;
  }

  .p-card.p-component {
    @apply rounded-lg overflow-hidden;
  }

  .p-card.p-component > .p-card-body {
    @apply p-0;
  }

  .p-card.p-component > .p-card-body > div {
    @apply px-5 py-4 m-0;
  }

  .p-card.p-component > .p-card-body > .p-card-title {
    @apply bg-[--card-header] font-semibold text-sm;
  }

  .p-card.p-component > .p-card-body > .p-card-content {
    @apply border border-[--card-border];
  }

  table.data-table {
    @apply w-full;
  }

  table.data-table th {
    @apply p-5 text-xs;
  }

  table.data-table td {
    @apply px-5 text-xs py-2.5;
  }

  table.data-table td input {
    @apply border px-3 py-3.5 rounded-sm w-full;
  }

  /* DataTable */
  table.p-datatable-table thead tr th {
    @apply bg-[--table-header] font-semibold;
  }

  div.action-buttons button.p-button-warning {
    @apply bg-[--papirus-yellow] text-white w-7 h-7;
  }

  div.action-buttons button.p-button-danger {
    @apply bg-[--error] text-white w-7 h-7;
  }

  svg.p-icon.p-submenu-icon {
    color: #fff;
  }

  span.p-autocomplete.p-component.p-inputwrapper,
  span.p-autocomplete.p-component.p-inputwrapper input.p-autocomplete-input.p-inputtext.p-component {
    @apply w-full;
  }

  /* MAIN MENU */
  ul.p-submenu-list > li.p-menuitem > div.p-menuitem-content > .p-menuitem-link {
    @apply hover:bg-purple-50;
  }

  .p-autocomplete-input.p-inputtext {
    @apply px-5 border-none py-0;
  }

  .p-inputwrapper-focus ~ label {
    @apply text-xs;
  }
  .p-inputwrapper-filled ~ label {
    @apply text-xs;
  }

  .p-confirm-dialog-accept {
    @apply bg-[--button-medium] text-[--white] rounded-full;
  }
}

/* MENU */
@media (max-width: 960px) {
  .p-menubar-root-list > .p-menuitem > .p-menuitem-content {
    background-color: var(--papirus-purple);
    border-radius: 0;
  }
  .p-menubar-root-list > .p-menuitem > .p-menuitem-content > .p-menuitem-link > .p-menuitem-text {
    color: var(--white);
  }
  .p-menubar .p-menubar-root-list {
    padding: 0;
  }
}

@media (min-width: 961px) {
  .p-menubar-root-list > .p-menuitem > .p-menuitem-content > .p-menuitem-link > .p-menuitem-text {
    color: var(--white);
    border-radius: 0;
  }
  .p-menubar-root-list > .p-menuitem > .p-submenu-list {
    margin-top: 12px;
    min-width: fit-content;
    width: -webkit-fill-available;
  }
  .p-submenu-list > .p-menuitem > .p-menuitem-content > .p-menuitem-link {
    height: 56px;
  }

  .p-submenu-list {
    width: 100%;
    padding: 0;
  }

  .p-menu-list > .p-menuitem > .p-menuitem-content > .p-menuitem-link {
    height: 56px;
  }
}

.p-submenu-list > .p-menuitem .p-menuitem-content .p-menuitem-text {
  color: var(--papirus-purple);
}

.p-menu-list > .p-menuitem .p-menuitem-content .p-menuitem-text {
  color: var(--papirus-purple);
}
.p-submenu-list {
  padding: 0;
}

/* Table styles */
.p-datatable-tbody > tr {
  border-bottom: 1px solid var(--table-row);
}

.p-datatable-tbody > tr:last-child {
  border-bottom: none;
}

.p-paginator-bottom {
  border-top: 1px solid var(--table-row);
}

a.link {
  color: var(--link);
}

a.link:hover {
  color: var(--link-focus);
  text-decoration: underline;
}

.p-link:focus-visible {
  border: none;
  outline: -webkit-focus-ring-color auto 1px;
}

.p-focus {
  backdrop-filter: brightness(90%);
}

.p-menuitem.p-focus {
  backdrop-filter: brightness(100%);
}

.p-menuitem-link:focus {
  background: inherit;
  backdrop-filter: brightness(110%);
}

button:focus-visible {
  border: none;
  outline: -webkit-focus-ring-color auto 1px;
}

@layer components {
  .CrudDataTable h1 {
    @apply text-2xl font-semibold py-2 uppercase;
  }
}
